.khung {
    width: 225px;
    height: 600px;
    border: black 3px solid;
    border-radius: 4px;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 860px;
    height: 500px;
}

.remote {
    width: 100px;
    height: 100px;
}